<div fxLayoutAlign="center" class="card-margin">
  <div class="card-container"></div>
</div>
<div fxLayoutAlign="center">
  <mat-card fxFlex="40%">
    <mat-card-header>
      <mat-card-title>Credit Card Payment</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="cardForm"  card container=".card-container" card-width="500"
               formatting="false" debug="true">

        <div fxLayout="row" >
          <mat-form-field fxFlex="100" color="accent" appearance="fill">
          <input (keypress)="onlyNumberKey($event)" maxlength="16" matInput formControlName="cardNo" placeholder="Card Number" card-number>
          </mat-form-field>
        </div>
        <div fxLayout="row" >
          <mat-form-field fxFlex="100" color="accent" appearance="fill">
            <input matInput formControlName="name" placeholder="Name" card-name>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap = "20px">
          <mat-form-field fxFlex="80" color="accent" appearance="fill">
            <mat-label>Expiration Date</mat-label>
            <input formControlName="expDate" matInput [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <mat-form-field fxFlex="20" color="accent" appearance="fill">
            <input matInput formControlName="cvvNo" placeholder="CVV"  (keypress)="onlyNumberKey($event)" maxlength="3" card-cvc>
          </mat-form-field>
        </div>
        <div fxLayout="row" >
          <mat-form-field fxFlex="100" color="accent" appearance="fill">
          <input matInput formControlName="amount" (keypress)="onlyDecimalNumberKey($event)" placeholder="Amount" amount>
          </mat-form-field>
        </div>
        <div fxLayoutAlign="end end">
          <button mat-raised-button color="primary" (click)="onPayClick($event)">Pay</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
